<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>6EE2B361-429F-4789-ACFE-8B86FE737725</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AD4205B0-359E-47D0-895C-5447E13C1ABF</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Copy to clipboard</string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>EBvi</string>
	<key>description</key>
	<string>각 나라별 환율 리스트를 출력합니다</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>환율</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>currency</string>
				<key>runningsubtext</key>
				<string>환율</string>
				<key>script</key>
				<string># -*- coding:utf-8 -*-

import urllib2
import xml.etree.ElementTree as ET

request = urllib2.Request("http://www.naver.com/include/timesquare/widget/exchange.xml")
request.add_header("Referer", "http://www.naver.com")
response = urllib2.urlopen(request)

xmldoc = ET.parse(response)
root = xmldoc.getroot()

t = '&lt;items&gt;'
for item in root.findall('currency'):
    hname = item.find('hname').text.encode("utf-8")
    standard = item.find('standard').text.encode("utf-8")
    sign = item.find('sign').text.encode("utf-8")
    change_val = item.find('change_val').text.encode("utf-8")
    t += '&lt;item&gt;&lt;title&gt;%s : %s %s (%s)&lt;/title&gt;&lt;subtitle&gt;&lt;/subtitle&gt;&lt;icon&gt;icon.png&lt;/icon&gt;&lt;/item&gt;' % (hname, standard, sign, change_val)
    
t += '&lt;/items&gt;'

print t</string>
				<key>subtext</key>
				<string>환율</string>
				<key>title</key>
				<string>환율</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6EE2B361-429F-4789-ACFE-8B86FE737725</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>AD4205B0-359E-47D0-895C-5447E13C1ABF</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>6EE2B361-429F-4789-ACFE-8B86FE737725</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>AD4205B0-359E-47D0-895C-5447E13C1ABF</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>twitter.com/EBvi</string>
</dict>
</plist>
